body{
    background-image:url(FOTO/PINxoh.jpg); 
    }
h1{
    color: rgb(0, 0, 0);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    }
h2{
    text-align: center; 
    color: black;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}    
a{
    color: black;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    }
p{
    color: black;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: left; 
    color: black;
    }
hr{
        width : 100% ; 
        color : black;
    }
div{
    padding: 10px; 
    margin-bottom: 20px;
    text-align: center;
    border-radius: 30px;
   }

.wrapper-col{
    width: 50%;
    background: #bed9f0a4;
    margin: 0 auto;
}
.center-img {
      display: block;
      margin: auto;
    }